//Global
$font-name: 'OpenSans';
$transition: 300ms;

// Colors
$primary: #1E1D20;

$secondary1: #262529;
$secondary2: #4C4B4F;
$secondary3: #7a797da5;
// $secondary4: #A1A0A5;
$secondary4: #CFCED3;

$accent: #00C8A0;

$light: #F7EBFF;