@use 'variables' as vars;

//------------------------------------------------------------------------------

html {
  font-size: 10px;
}

html,
body,
#root,
main {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: vars.$primary;
  font-size: 1.4rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  flex-shrink: 0;
  font-family: sans-serif;
  letter-spacing: 0.12rem;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
